        {{#paper-card class="flex" as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
            {{#text.headline}}{{model.exercise.name}}{{/text.headline}}
            {{#text.subhead}}
              {{exercise-register-stats model=model}}
            {{/text.subhead}}
            {{/title.text}}
            {{#card.media size="xl"}}
            <div class="{{exerciseTypeClass}}"></div>
            {{/card.media}}
          {{/card.title}}
            {{#if showMoreInfo }}
              {{#card.content}}
                <h4>
                  Todos los registros - Total {{ model.registers.length }}
                </h4>
                <div class="layout-column layout-align-space-around">
                  {{#each model.registers as |register|}}
                      <div class="layout-row layout-align-space-around-center">
                        <div class="flex-30"> {{register.weight}}</div>
                        <div class="flex-40"> {{register.shortDate}}</div>
                      </div>
                  {{/each}}
                </div>
              {{/card.content}}
                  {{#card.actions class="layout-row layout-align-start-center" }}
                    {{#paper-button onClick=(action "moreInfo")}}Cerrar{{/paper-button}}
                    {{#paper-button warn=true onClick=(route-action "deleteRegisteredExercise" model)}}Borrar{{/paper-button}}
                  {{/card.actions}}
            {{else}}
                  {{#card.actions class="layout-row layout-align-start-center" }}
                    {{#paper-button onClick=(action "moreInfo")}}Más info{{/paper-button}}
                  {{/card.actions}}
            {{/if}}

        {{/paper-card}}
